/* General reset and base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text for contrast */
}

/* Container for the sessions page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Logo container */
.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

/* Sessions container */
.sessions-container {
    width: 100%;
    max-width: 800px;
}

.form-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.form-button:hover {
    background-color: #555;
}

.sessions-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.sessions-table th,
.sessions-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

/* Popup Container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.popup-content label {
    display: block;
    margin-top: 10px;
}

#weight-based-fields,
#cardio-based-fields {
    display: none;
}

#exercise-items {
    list-style-type: none;
    padding: 0;
}

#exercise-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.edit-button,
.delete-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #555;
}

