/* General container styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
}

/* Stats page layout */
.stats-page {
    display: flex;
    flex-direction: column;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #1c1c1c;
    align-items: center;
    border-bottom: 1px solid #333;
}

.nav-links {
    display: flex;
    gap: 100px; /* Increase spacing between links */
}

.nav-links a {
    color: #e0e0e0;
    text-decoration: none; /* Remove underline from links */
    font-size: 1em;
}

.logout-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-right:10px;
}

/* Dashboard container styling */
.dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Top Section: three slots (using grid) */
.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal width columns */
    gap: 20px;
}

.graph-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
}

.graph-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Bottom Section: one slot */
.bottom-section {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
}

.bottom-section h2 {
    font-size: 18px;
}

.green-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    margin-right: 5px; /* Space between square and equals sign */
}

.text-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.stats-panel {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:20px;
}

.data-entry {
    font-size: 20px;
    margin-bottom: 15px;
}

.data-entry-field {
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: underline;

}

.h2 {
    font-size: 24px;
}

.dashboard_container {
    margin-left: 10px;
    margin-right: 10px;
}