<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - FitLog</title>
    <link rel="stylesheet" href="/static/css/auth_page.css"> <!-- Link to CSS file -->
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Terms and Conditions</h2>
            <p>
                FitLog is not a certified health advisor, and the information provided should not be considered as medical advice.
                Please consult a professional healthcare provider before making any changes to your diet, exercise, or health routine.
            </p>
            <p>
                FitLog provides tools to help you track your fitness journey, but all data and information are for informational purposes only.
                FitLog is not responsible for any health issues that arise as a result of using the platform.
            </p>
            <p>
                By using FitLog, you agree to these terms and understand that you are responsible for your health and fitness decisions.
            </p>
            <a href="/signup" class="form-button"> Click to go back </a>
        </div>
        <div class="image-container">
            <img src="/static/images/fitlog_logo.jpg" alt="FitLog Logo" class="full-logo">
        </div>
    </div>
</body>
</html>

